body {
    background-color: #fbd5d0;
}

body.product-body {
    border: 3px solid palegreen ;
}

h1, h2, h3, h4, p, li {
    font-family: sans-serif;
    color: palevioletred;
}

h1 {
    font-size: 26px;
    text-transform: uppercase;
    font-style: italic;
 }

 h2 {
    font-size: 40px;
 }

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
    text-transform: uppercase;
}

h2.product {
    text-transform: uppercase;
}

a {
    line-height: 2rem;
}

a:link {
    color:#1098ad;
    text-decoration: none;
}

a:visited {
    color:#1098ad
}

a:hover {
    background-color:palevioletred;
    color:palegreen;
    text-decoration: underline wavy palevioletred;
}

a:active {
    color:palevioletred;
    font-weight:900;
    text-decoration: underline wavy palevioletred;
    font-style: italic;
}

header {
    background-color: palegreen;
}

header.main-header {
    background-color: palegreen;
    margin-bottom: 50px;
    text-align: center;
}

header.main-header h1 {
    color: palevioletred;
}

article.pig-sale {
    background-color: palegreen;
}

aside {
    background-color: paleturquoise;
    border-top: 5px dotted #1098ad;
    border-bottom: 5px dotted #1098ad;
    padding: 50px 0px;
    width: 500px;
}

aside li:hover {
    background-color: palegreen;
    text-decoration: underline wavy palevioletred;

}

.post-image {
    width: 800px;
    height: auto;
}

 p {
    font-size: 22px;
    line-height: 1.5;
 }

 li {
    font-size:20px;
    font-weight:normal;
    margin-bottom: 10px;
 }
 
 li:first-child {
    font-weight: bolder;
 }

 li:last-child {
    font-weight: lighter;
 }

 ul.without-bullet {
    list-style: none;
 }

 ul {
    list-style:georgian;
 }

 ul, ol {
    margin-left: 50px;
 }

.copyright {
    font-size: 16px;
 }

 .author {
font-style: italic;
font-size: 18px;
 }

 .item-subtext {
    font-size: 18px;
    font-weight: lighter;
 }

 nav {
    font-size:18px;
 }

 button {
    border: none;
    background-color: palegreen;
 }